.DS_Store
*.csproj
*.pidb
*.sln
*.userprefs
/Temp/
*.unityproj
/Library/
/Build/
build_Data/
UnityPlayer_Symbols.pdb
recordings/
.env
.bundle
/.project
/TMPro_Plugin.dll
/TMPro_Plugin.dylib
ProjectSettings/ProjectVersion.txt
*.suo
*.cache
obj/
Tests
publishing/ios/data/screens

# Android build related
Assets/StreamingAssets/
Assets/StreamingAssets.meta
*.apk
/.vscode
*.pyc
client_secrets.json
/publishing/android/achievements/androidpublisher.dat
